@model IEnumerable<Server.Models.Partners>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BussinessName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CeoName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.books)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BussinessName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CeoName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.books)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PartnerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PartnerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PartnerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
